body, html {
    width: 100vw;
    height: 100vh;
    padding: 0;
}
.particles {
    position: absolute;
    z-index: -1;
}

/* PAGE */
.page {
    font-family: monospace;
    overflow-x: hidden;
}

/*  NAVBAR */
.page .navbar {
    position: fixed;
    top: 11px;
    padding: 10px;
    text-align: center;
    width: 835px;
    justify-content: space-around;
    border-radius: 8px;
    box-shadow: 0 2px 15px 1px rgb(0, 0, 0, 0.6), inset 0 2px 15px 1px rgb(0, 0, 0, 0.5);
}

.page .navbar__option {
    text-decoration: none;
    font-size: 1.4rem;
}
.page .navbar__option:hover {
    transform: scale(1.1);
    color: #21cfe6;
}
/* USER */
.page .user {
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 15px 1px rgb(0, 0, 0, 0.7);
    border-radius: 17px;
    height: 200px;
    margin-top: 100px;
}
.page .user__avatar {
    opacity: 0.9;
    width: 200px;
    border-radius: 17px;
    box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.7);
}
.page .user__avatar:hover {
    transform: scale(1.1);
    filter: brightness(115%);
    cursor: pointer;
}
.page .user__info {
    text-shadow: 0px 0px 11px rgba(47, 47, 47, 0.507);
    align-items: flex-start;
    justify-content: flex-start;
    padding: 35px;

}
.page .user__info__name {
    font-size: 2.7rem;
}
.page .user__info__description {
    font-size: 1.7rem;
}
.page .user__info__socials {
    justify-content: space-between;
}
.page .user__info__socials__icon {
    margin-top: 77px;
    width: 32px;
    height: 32px;
    filter: invert(100%);
    box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.25);
}
.page .user__info__socials__icon:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 25px 1px #de6119;
    cursor: pointer;
}

/* CONTENT */
.page .content {
    opacity: 0.92;
    transform: translate(0, 15%);
    filter: drop-shadow(10px 10px 100px #000000);
    width: 100%;
}
.page .content__shape {
    height: 850px;
    width: 100%;
    justify-content: flex-start;
}
.page .content__shape--type1 {
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
}
.page .content__title {
    font-size: 7rem;
    padding-top: 70px;
    text-shadow: 0px 6px 4px #5d5d5d;
}
.page .content__description {
    width: 85%;
    font-size: 1.7rem;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(9,19,28);
    background: linear-gradient(0deg, rgba(9,19,28,1) 0%, rgba(3,12,20,1) 32%, rgba(6,22,34,1) 100%); 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    box-shadow: inset 0px 0px 1px 5px #19dec731;
    background: rgb(9,19,28);
    background: linear-gradient(0deg, rgb(37, 11, 56) 0%, rgb(19, 19, 57) 32%, rgb(11, 27, 61) 100%);
    border-radius: 20px;
  }

/* SUPPORT CLASSES */
.no-margin {margin: 0;}
.width-full {width: 100%;}
.height-full {height: 100%;}
.color-primary {color: #ffffff}
.color-secondary {color: #fffafa9b}
/* .bg-color-primary {
    background: rgb(35,108,89);
    background: linear-gradient(0deg, rgb(15, 47, 39) 20%, rgb(5, 33, 35) 57%, rgb(6, 14, 13) 100%);
}
.bg-color-secondary {background: rgba(9, 15, 17, 0.7);} */
.bg-color-primary {
    background: rgb(9,19,28);
    background: linear-gradient(0deg, rgba(9,19,28,1) 0%, rgba(3,12,20,1) 32%, rgba(6,22,34,1) 100%);
}
.bg-color-secondary {background: rgba(15, 29, 34, 0.7);}
.flex-direction-column {flex-direction: column;}
.display-flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-transition--1 {
    transition: all 0.7s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

